html{height:100%;}
body{min-height:100%;margin:0;padding:0;position:relative;}

/*header{background-color: #ffe4c4;}*/
main{padding-bottom:100px;background-color: #bdb76b;}/* main的padding-bottom值要等于或大于footer的height值 */
/*footer{position:absolute;bottom:0;width:100%;height:100px;background-color: #ffc0cb;}*/

.content {
    min-height: 490px;
    padding: 15px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    overflow-y: auto;
}

.header {
    padding: 17px 40px;
    background-color: rgba(86, 51, 153, 0.21);
    color: rebeccapurple;
    font-size: 18px;
}

.header-cnsty {
    font-style: oblique;
}
.header-title {
    float: right;
    margin-top: -48px;
}
.header-title div {
    margin-top: 13px;
}

.header-title a{
    color: rebeccapurple;
}
.header-title a:hover{
    color: red;
    font-style: oblique;
}



footer {
    position:absolute;
    bottom:0;
    width:100%;
    background-color: #eeeeee;
    line-height: 22px;
    font-size: 14px;
    padding: 10px 0;
    text-align: center;
}